div.active, div.done{
  margin: auto 3vh;
  font-family: 'Raleway', sans-serif;
}
h2, h3{
  font-family: 'Source Sans Pro', sans-serif;
}
div.active{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-size: 1.2rem;
}

div.done{
  font-size: 1rem; 
}